.top {
  .hero {
    text-align: center;
    min-height: 20em;
    position: relative;
  }

  .hero-image {
    position: absolute;
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      position:absolute;
      transition: all .5s ease-in-out;
      width: 100%;
      left: 50%;
      top: 25%;
      margin-top: -25%;
      margin-left:-50%;
    }
  }

  .hero-text {
    position: relative;
    display: block;
    min-height: 30em;

    &:after {
      content: ' ';
      clear: both;
      display: table;
    }
  }

  h1 {
    position: relative;
    color: white;
    margin-top: 100px;
    border: 3px solid white;
    display: inline-block;
    padding: 2em 3em;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 100;
  }
}

