<div class="ui vertical masthead center aligned segment">
  <div class="ui text container mt40">
    <h1 class="ui header">500 Internal Server Error</h1>
    <p>予期せぬエラーが発生しました。時間をおいて再度実行していただき、再発するようでしたらお問い合わせください。</p>
  </div>
</div>

